.mix__main_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mix__top_container {
    background: navajowhite;

    text-align: center;
    vertical-align: center;

    display: flex;
    order: 1;
    flex-grow: 1;
    flex-wrap: wrap;
}

.mix__top_container__top_section, .mix__top_container__bottom_section {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.mix__bottom_container {
    background: #9ad49a;

    display: flex;
    order: 2;
    flex-grow: 1;
}

/* Placeholder */
.placeholder__main_container {
    display: flex;
    flex-grow: 1;
    align-items: center;
}