matrix:
  include:
    - language: python
      sudo: false
      python: 3.6
      cache: pip
      install: pip install -r server/requirements.txt
      script: make py-ci
      after_success:
        - if [ "$TRAVIS_BRANCH" = "master" ]; then make py-coverage; fi

    - language: node_js
      node_js: "stable"
      cache:
        yarn: true
        directories:
          - web_app/node_modules
          - packages/create-react-app/node_modules
          - packages/react-scripts/node_modules
          - web_app/packages/create-react-app/node_modules
          - web_app/packages/react-scripts/node_modules
      script: make js-ci

notifications:
  email:
    on_success: never
