<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Simon Egersand">

    <title>Musicify</title>

    <link rel="shortcut icon" href="./favicon.ico"/>

</head>
<body>

<h1>PYTHON INDEX</h1>

<script type="text/javascript">
    $('#btn-start').on('click', (_evt) => {
        window.location.href = "/login";
    });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
        src="https://www.googletagmanager.com/gtag/js?id=UA-58469115-12"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-58469115-12');
</script>
</body>
</html>
