<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Musicify</title>

    <meta name="author" content="Simon Egersand">
    <link rel="shortcut icon" href="./favicon.ico"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery File Upload lib -->
    <script src="/static/lib/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="/static/lib/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="/static/lib/jquery-file-upload/js/jquery.fileupload.js"></script>
    <link rel="stylesheet"
          href="/static/lib/jquery-file-upload/css/jquery.fileupload.css">

    <!-- Say Cheese lib -->
    <script src="/static/lib/say-cheese/say-cheese.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<div class="container-fluid" id="upload-area">
    <div class="row text-center">
        <h1>Musicify</h1>
        <p class="help-block">Upload an image of your face and I will pick a
            few songs for you</p>
    </div>
    <div class="row flex">
        <div class="col-md-6 text-center">
            <div id="video-container">
                <div id="action-buttons">
                    <button class="btn btn-lg btn-primary fileinput-button"
                            id="take-snapshot-btn">
                        <i class="glyphicon glyphicon-camera icon-padding"></i>
                        <span>Snap and upload image</span>
                        <!-- The file input field used as target for the file upload widget -->
                    </button>
                </div>
            </div>

            <!-- File upload -->
            <button class="btn btn-lg btn-primary fileinput-button"
                    id="upload-btn">
                <i class="glyphicon glyphicon-upload icon-padding"></i>
                <span>Select Image...</span>
                <input id="fileupload" type="file" name="files[]">
            </button>

            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="track-area">
    <div class="row flex">
        <div class="col-md-6 text-center">
            <div id="track">
            </div>
            <!--<button class="btn btn-default" id="obtain-new-token">-->
            <!--Obtain new token using the refresh token-->
            <!--</button>-->
            <button class="btn btn-lg btn-primary" id="matchAgainBtn">
                <i class="glyphicon glyphicon-repeat"></i>
                <span>Match Again?</span>
            </button>
        </div>
    </div>
</div>

<!-- Track template -->
<div class="container-fluid" id="result-container">
    <div class="row text-center">
        <h1>Your Songs</h1>
        <p class="help-block">Some text here</p>

        <ul id="track-list"></ul>

    </div>
</div>

<script id="track-template" type="text/x-handlebars-template">
    <div>
        <div>
            <h3>Because your strongest feeling is: {{ emotion }}</h3>
            <p class="help-block">We recommend this song</p>
        </div>
        <iframe
                src="https://embed.spotify.com/?uri=spotify%3Atrack%{{ track_url }}"
                width="300"
                height="380"
                frameborder="0"
                allowtransparency="true"
                id="spotify-iframe">
        </iframe>
    </div>
</script>

<script type="text/javascript">

    $(() => {
        const sayCheese = new SayCheese('#video-container', {snapshot: true});
        sayCheese.on('start', () => {
            $('#take-snapshot-btn').on('click', (_evt) => {
                // Disable file upload button
                const btnElement = $('#upload-btn');
                btnElement.prop('disabled', true);
                btnElement.find('input').prop('disabled', true);

                sayCheese.takeSnapshot();
            });
        });
        sayCheese.on('error', (error) => {
            console.error(error);
        });
        sayCheese.on('snapshot', (snapshot) => {
            startUploadingSnapshot();
            snapshot.toBlob((image) => {
                uploadImage(image);
            }, 'application/octet-stream');
        });
        sayCheese.start();
    });

    const uploadImage = image => {
        const form = new FormData();
        form.append("face_image", image);

        $.ajax({
            url: "/v1/tracks",
            type: 'POST',
            data: form,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
        })
            .done(response => {
                doneUploading('#take-snapshot-btn');
                showTrackList(response.tracks.uris);
            })
            .fail(error => {
                console.error(error);
            });
    };

    $('#fileupload').fileupload({
        url: "/v1/tracks",
        paramName: 'face_image',
        type: 'POST',
        dataType: 'json',
        multipart: true,
        singleFileUploads: true,
        done: (event, data) => {
            if (data.jqXHR.responseJSON.tracks.count > 0) {
                doneUploading('#upload-btn');
                // Show result
                showTrackList(data.jqXHR.responseJSON.tracks.uris);
            } else {
                // TODO: Handle this case
                // No tracks were found
                console.log("No tracks were found")
            }
        },
        start: (_event, _data) => {
            startUploadingFile();
            // Disable file upload button
            $('#take-snapshot-btn').prop('disabled', true);
        },
        progress: (event, data) => {
            const progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress').find('.progress-bar').css(
                'width',
                progress + '%'
            );
        },
        fail: (_event, _data) => {
            console.error("Error calling /v1/tracks");
        }
    });

    const showTrackList = uris => {
        $('#result-container').show();
        $('#upload-area').hide();
        const trackList = $('#track-list');
        uris
            .map(createTrackElement)
            .map(track => trackList.append(track));
    };

    const createTrackElement = track => {
        return `
                <li>
                  <iframe src="https://open.spotify.com/embed?uri=${track.uri}"
                    width="300" height="80" frameborder="0"
                    allowtransparency="true" allow="encrypted-media">
                  </iframe>
                </li>
               `
    };

    // For getting the result page without having to upload image
    // const uris = [{'uri': 'spotify:track:0u6Quwu7pe0lxJJPsRe4Mf'}, {'uri': 'spotify:track:2VdHRWJeGpIY0WJcQD2mYd'}];
    // showTrackList(uris);

    /* Event handlers */
    const startUploadingSnapshot = () => {
        const btnElement = $('#take-snapshot-btn');
        btnElement.prop('disabled', true);
        btnElement.find('i').attr('class', 'glyphicon glyphicon-upload icon-padding');
        btnElement.find('span').text('Uploading...');
    };

    const startUploadingFile = () => {
        $('#progress').show();
        const btnElement = $('#upload-btn');
        btnElement.prop('disabled', true);
        btnElement.find('input').prop('disabled', true);
        btnElement.find('span').text('Uploading...');
    };

    const doneUploading = (buttonSelector) => {
        $(buttonSelector).prop('disabled', false);
        $('#progress').fadeOut('slow');

        $(buttonSelector + ' span').text('Match My Mood');
        $(buttonSelector).attr('class', 'btn btn-lg btn-success fileinput-button');
        $(buttonSelector + ' i').attr('class', 'glyphicon glyphicon-heart-empty icon-padding');
        $(buttonSelector).attr('id', 'generateTrackBtn');

        const btnElement = $('#generateTrackBtn');
        const inputElement = btnElement.find('input');
        if (inputElement) {
            inputElement.detach();
        }

        btnElement.on('click', () => {
            storeEmotions();
        });
    };

</script>

<script type="text/javascript">
    // TODO: Use separate Analytics ID

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-58469115-8', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
